@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.competition {
    padding: 2rem 1rem;

    &__stats {
        display: grid;
        gap: 1rem;
        margin-bottom: 3rem;
    }
    &__stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        background: $color-card;
        border-radius: $radius;
        text-align: center;

        i {
            font-size: 2rem;
            color: $color-pink;
            margin-bottom: 1rem;
        }
        strong {
            font-size: 2rem;
            color: $color-text;
        }
    }
    &__content {
        text-align: center;
    }
    &__title {
        margin-bottom: 1.5rem;
    }
    &__texte {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    &__question {
        display: block;

        margin-top: 1rem;

        color: $color-pink;

        font-size: 1.3rem;
        font-weight: 700;

        text-transform: uppercase;
        letter-spacing: 0.05em;

        text-shadow: 0 0 10px rgba(247, 37, 133, 0.4);
    }
}

@include tablet {
    .competition {
        &__stats {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
