$color-pink: #f72585;
$color-magenta: #b5179e;
$color-purple: #7209b7;
$color-blue: #4895ef;

$color-dark: #121212;
$color-card: #1e1e1e;

$color-text: #ffffff;
$color-text-muted: #bdbdbd;

$radius: 12px;
$transition: 0.3s ease;

$font-main: "Exo 2", sans-serif;

$radius: 12px;
$transition: 0.3s ease;

$container-width: 1200px;

//Breakpoint
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1440px;
